<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>WebMusicExplaura</display-name>
    <listener>
        <description>Connect to WebMusicExplaura</description>
        <listener-class>com.sun.labs.aura.music.wsitm.server.ServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>MusicSearchInterface</servlet-name>
        <servlet-class>com.sun.labs.aura.music.wsitm.server.MusicSearchInterfaceImpl</servlet-class>
        <init-param>
            <param-name>cacheSize</param-name>
            <param-value>5000</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.sun.labs.aura.music.wsitm.server.OpenIDServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MusicSearchInterface</servlet-name>
        <url-pattern>/com.sun.labs.aura.music.wsitm.WebMusicExplaura/musicsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcomeGWT.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>ApplicationAccess</display-name>
        <web-resource-collection>
            <web-resource-name>application</web-resource-name>
            <description>access to the main page</description>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>file</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>appaccess</role-name>
    </security-role>
</web-app>
