body {
    font-family: "Trebuchet MS", "Times New Roman", serif;
    font-size: 12px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin: 10px;
    padding: 20px;
    line-height: 17px;
    font-weight: normal;
    color: #73885D;
    background-color: #f0f8c6;
    background: #f0f8c6;
}
