body {
    font-family: "Trebuchet MS", "Times New Roman", serif;
    font-size: 12px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin: 0px;
    padding: 0px;
    line-height: 17px;
    font-weight: normal;
    background: #EFF2CA;
    background-color: #EFF2CA;
    color: #000000;
}
.bottomUrl a {
    color: #000000;
    text-decoration: none;
}
.bottomUrl a:visited {
    color: #000000;
    text-decoration: none;
}
.titleC {
  color: #803030;
}

.artistPanel:hover {
  background-color: #e8e0cb;
  background: #e8e0cb;
}

.pageHeader {
    background-color: #9E9A77;
    background: #9E9A77;
    color: #000000;
    padding: 3px;
}
.pageHeaderBackground {
    background-color: #9E9A77;
    background: #9E9A77;
}
.popupColors {
    background-color: #9E9A77;
    background: #9E9A77;
    color: #000000;
}
.popupTitle {
    padding-left: 5px;
    padding-right: 5px;
    font-weight:bold;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 4px;
    border-bottom: medium solid #000000;
    border-width: thin;
}
.pageConfigHeader {
    font-size : 10px;
    color : #000000;
    background-color: #9E9A77;
    background: #9E9A77;
}
h1 { 
    font-size: 1.8em; 
    color: #803030;
    margin-bottom: 4px; 
    border-bottom: medium solid #803030;
    border-width: thin;
}
.h1 {
    font-weight: bold;
    font-size: 1.8em;
    color: #803030;
    margin-bottom: 4px;
    border-bottom: medium solid #803030;
    border-width: thin;
}
h2 {
    font-size: 1.2em;
    color: #803030;
    margin-top: 20px;
    margin-bottom: 4px;
    border-bottom: medium solid #803030;
    border-width: thin;
}
.h2 {
    font-weight:bold;
    font-size: 1.2em;
    color: #803030;
    margin-top: 20px;
    margin-bottom: 4px;
    border-bottom: medium solid #803030;
    border-width: thin;
}

.alternateHTitle {
    color: #803030;
    border-bottom: thin solid #803030;
}

.headerMenuTinyItemC {
  color: black;
}

.headerMenuMedC {
  color: black;
}

.headerMenuMedItemC {
  color: black;
}

.popLeft {
    border: #000000 solid;
    color: #E6D9AF;
    background-color: #E6D9AF;
    background: #E6D9AF;
    border-width: 1px 1px 1px 1px;
}
.popRight {
    color: #DBE8B5;
    background-color: #DBE8B5;
    background: #DBE8B5;
}


.tagPop1 {
    color: #eff2ca;
    text-decoration: none;
}
.tagPop1neg {
    color: #eff2ca;
    text-decoration: line-through;
}
.tagPop2 {
    color: #9c3030;
    text-decoration: none;
}
.tagPop2neg {
    color: #9c3030;
    text-decoration: line-through;
}




.tag1 {
    color: #eb7f00;
    text-decoration: none;
}
.tag1neg {
    color: #eb7f00;
    text-decoration: line-through;
}
.tag2 {
    color: #a45900;
    text-decoration: none;
}
.tag2neg {
    color: #a45900;
    text-decoration: line-through;
}
.tag1Sticky {
    color: #eb7f00;
    text-decoration: underline;
    font-weight: bold;
}
.tag2Sticky {
    color: #a45900;
    text-decoration: underline;
    font-weight: bold;
}

.artistTag1Sticky {
    color: #803030;
    text-decoration: underline;
    font-weight: bold;
}
.artistTag2Sticky {
    color: #a41515;
    text-decoration: underline;
    font-weight: bold;
}

.artistTag1 {
    color: #803030;
    text-decoration: none;
}
.artistTag2 {
    color: #a41515;
    text-decoration: none;
}
.artistTag1neg {
    color: #803030;
    text-decoration: line-through;
}
.artistTag2neg {
    color: #a41515;
    text-decoration: line-through;
}
.tagColorAdded {
  color : #b6cf9d;
}
.contextMenuItem {
    cursor: pointer;
}
.contextMenuItemHover {
    background: #6B6B6B;
    background-color: #6B6B6B;
    color: #D1D1D1;
}