body {
    font-family: "Trebuchet MS", "Times New Roman", serif;
    font-size: 12px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin: 0px;
    padding: 0px;
    line-height: 17px;
    font-weight: normal;
    background: #f3ffe2;
    background-color: #f3ffe2;
    color: #000000;
}
.bottomUrl a {
    color: #000000;
    text-decoration: none;
}
.bottomUrl a:visited {
    color: #000000;
    text-decoration: none;
}
.titleC {
  color: #225378;
}

.artistPanel:hover {
  background-color: #e8e0cb;
  background: #e8e0cb;
}

.pageHeader {
    background-color: #1695A3;
    background: #1695A3;
    color: #ffffff;
    padding: 3px;
}
.pageHeaderBackground {
    background-color: #1695A3;
    background: #1695A3;
}
.popupColors {
    background-color: #1695A3;
    background: #1695A3;
    color: white;
}
.popupTitle {
    padding-left: 5px;
    padding-right: 5px;
    font-weight:bold;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 4px;
    border-bottom: medium solid #ffffff;
    border-width: thin;
}
.pageConfigHeader {
    font-size : 10px;
    color : #ffffff;
    background-color: #1695A3;
    background: #1695A3;
}
h1 { 
    font-size: 1.8em; 
    color: #225378;
    margin-bottom: 4px; 
    border-bottom: medium solid #225378;
    border-width: thin;
}
.h1 {
    font-weight: bold;
    font-size: 1.8em;
    color: #225378;
    margin-bottom: 4px;
    border-bottom: medium solid #225378;
    border-width: thin;
}
h2 {
    font-size: 1.2em;
    color: #225378;
    margin-top: 20px;
    margin-bottom: 4px;
    border-bottom: medium solid #225378;
    border-width: thin;
}
.h2 {
    font-weight:bold;
    font-size: 1.2em;
    color: #225378;
    margin-top: 20px;
    margin-bottom: 4px;
    border-bottom: medium solid #225378;
    border-width: thin;
}

.alternateHTitle {
    color: #225378;
    border-bottom: thin solid #225378;
}

.headerMenuTinyItemC {
  color: white;
}

.headerMenuMedC {
  color: white;
}

.headerMenuMedItemC {
  color: white;
}

.popLeft {
    border: #000000 solid;
    color: #ACF0F2;
    background-color: #ACF0F2;
    background: #ACF0F2;
    border-width: 1px 1px 1px 1px;
}
.popRight {
    color: #DBE8B5;
    background-color: #DBE8B5;
    background: #DBE8B5;
}


.tagPop1 {
    color: #eff2ca;
    text-decoration: none;
}
.tagPop1neg {
    color: #eff2ca;
    text-decoration: line-through;
}
.tagPop2 {
    color: #acf0f2;
    text-decoration: none;
}
.tagPop2neg {
    color: #acf0f2;
    text-decoration: line-through;
}



.tag1 {
    color: #eb7f00;
    text-decoration: none;
}
.tag1neg {
    color: #eb7f00;
    text-decoration: line-through;
}
.tag2 {
    color: #a45900;
    text-decoration: none;
}
.tag2neg {
    color: #a45900;
    text-decoration: line-through;
}
.tag1Sticky {
    color: #eb7f00;
    text-decoration: underline;
    font-weight: bold;
}
.tag2Sticky {
    color: #a45900;
    text-decoration: underline;
    font-weight: bold;
}

.artistTag1Sticky {
    color: #5ba8b1;
    text-decoration: underline;
    font-weight: bold;
}
.artistTag2Sticky {
    color: #25909c;
    text-decoration: underline;
    font-weight: bold;
}
.artistTag1 {
    color: #5ba8b1;
    text-decoration: none;
}
.artistTag2 {
    color: #25909c;
    text-decoration: none;
}
.artistTag1neg {
    color: #5ba8b1;
    text-decoration: line-through;
}
.artistTag2neg {
    color: #25909c;
    text-decoration: line-through;
}
.tagColorAdded {
  color : #b6cf9d;
}
.contextMenuItem {
    cursor: pointer;
}
.contextMenuItemHover {
    background: #A3A3A3;
    background-color: #A3A3A3;
    color: black;
}