body {
    font-family: "Trebuchet MS", "Times New Roman", serif;
    font-size: 12px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin: 0px;
    padding: 0px;
    line-height: 17px;
    font-weight: normal;
    color: #73885D;
    background-color: #f0f8c6;
    background: #f0f8c6;
}

.bottomUrl a {
    color: #73885D;
}
.bottomUrl a:visited {
    color: #73885D;
}

.titleC {
  color: #73885D;
}

.artistPanel:hover {
  background-color: #e8e0cb;
  background: #e8e0cb;
}

.pageHeader {
    background-color: #73885D;
    background: #73885D;
    color: white;
    padding: 3px;
}
.pageHeaderBackground {
  background-color: #73885D;
  background: #73885D;
}
.popupColors {
  background-color: #73885D;
  background: #73885D;
  color: #FFFFFF;
}
.popupTitle {
    padding-left: 5px;
    padding-right: 5px;
    font-weight:bold;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 4px;
    border-bottom: medium solid #ffffff;
    border-width: thin;
}
.pageConfigHeader {
    font-size : 10px;
    color : #ffffff;
    background-color: #73885D;
    background: #73885D;
}
.gradientHighColor {
  background : #b9ff6d;
}
.gradientLowColor {
  background : #f0f8c6;
}

h1 { 
    font-size: 1.8em; 
    margin-bottom: 4px; 
    border-bottom: medium solid #73885d; 
    border-width: thin;
}
.h1 {
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 4px;
    border-bottom: medium solid #73885d;
    border-width: thin;
}
h2 {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 4px;
    border-bottom: medium solid #73885d;
    border-width: thin;
}
.h2 {
    font-weight:bold;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 4px;
    border-bottom: medium solid #73885d;
    border-width: thin;
}

.alternateHTitle {
    color: #cccccc;
    border-bottom: thin solid #cccccc;
}

.headerMenuTinyItemC {
  color: white;
}

.headerMenuMedC {
  color: white;
}

.headerMenuMedItemC {
  color: white;
}

.popLeft {
    border: #000000 solid;
    color: #ADCC58;
    background-color: #ADCC58;
    background: #ADCC58;
    border-width: 1px 1px 1px 1px;
}
.popRight {
    color: #DBE8B5;
    background-color: #DBE8B5;
    background: #DBE8B5;
}


.tagPop1 {
    color: #D4C790;
    text-decoration: none;
}

.tagPop1neg {
  /* color: #D49090; */
  color: #D4C790;
  text-decoration: line-through;
}
.tagPop2 {
    color: #81c23d;
    text-decoration: none;
}
.tagPop2neg {
  /* color: #AD7676; */
  color: #81c23d;
  text-decoration: line-through;
}



.tag1 {
    color: #D4C790;
    text-decoration: none;
}

.tag1neg {
  /* color: #D49090; */
  color: #D4C790;
  text-decoration: line-through;
}
.tag2 {
    color: #ADA376;
    text-decoration: none;
}
.tag2neg {
  /* color: #AD7676; */
  color: #ADA376;
  text-decoration: line-through;
}
.tag1Sticky {
    color: #D4C790;
    text-decoration: underline;
    font-weight: bold;
}
.tag2Sticky {
    color: #ADA376;
    text-decoration: underline;
    font-weight: bold;
}
.artistTag1Sticky {
    color: #728bd2;
    text-decoration: underline;
    font-weight: bold;
}
.artistTag2Sticky {
    color: #295df3;
    text-decoration: underline;
    font-weight: bold;
}
.artistTag1 {
    color: #728bd2;
    text-decoration: none;
}
.artistTag2 {
    color: #295df3;
    text-decoration: none;
}
.artistTag1neg {
    color: #728bd2;
    text-decoration: line-through;
}
.artistTag2neg {
    color: #295df3;
    text-decoration: line-through;
}
.tagColorAdded {
  color : #b6cf9d;
}

.contextMenuItem {
    cursor: pointer;
}
.contextMenuItemHover {
    background: #b7d6f6;
    background-color: #b7d6f6;
    color: black;
}