<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>apiKey</param-name>
        <param-value>1408d168d5c7173ecc19c450ab88762f</param-value>
    </context-param>
    <context-param>
        <param-name>secretKey</param-name>
        <param-value>12345</param-value>
    </context-param>
    <context-param>
        <param-name>appID</param-name>
        <param-value>65385398178</param-value>
    </context-param>
    <listener><listener-class>com.sun.labs.aura.fb.ServletListener</listener-class></listener><servlet>
        <servlet-name>Canvas</servlet-name>
        <servlet-class>com.sun.labs.aura.fb.Canvas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Canvas</servlet-name>
        <url-pattern>/canvas/ajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Canvas</servlet-name>
        <url-pattern>/canvas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
