/* 
    Document   : aardvark
    Created on : Mar 17, 2008, 8:12:08 PM
    Author     : ja151348
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {
  background: #fff;
  color: black;
  font-family: Arial, sans-serif;
  font-size: small;
  margin: 10px;
}


div.main {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 145px;
    margin-right: 75px;
}

div.regularTxt {
  margin-left: 30px;
  font-size: medium;
  line-height: 150%;
}

div.regularTxt ul, div.regulartxt ul li {
    list-style: bullet;
}

.table {
  margin-left:20px;
  font-family: Arial, sans-serif;
  font-size: small;
}

PRE.code { margin-left: 0.5in; margin-right: 0.5in; background: #c0c0c0; border: 1px solid #000000; padding: 0.02in; font-size: 9pt; page-break-inside: avoid; page-break-before: auto; page-break-after: auto }
PRE.code-western { margin-left: 0.5in; margin-right: 0.5in; background: #c0c0c0; border: 1px solid #000000; padding: 0.02in; font-size: 9pt; page-break-inside: avoid; page-break-before: auto; page-break-after: auto }

.promptTxt {
  color: #B2BC00;
}

.footer {
  width: 700px;
  font-size: 10px;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}
