<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <description>Connect to aardvark/aura</description>
        <listener-class>com.sun.labs.aura.dbbrowser.server.ServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>DBService</servlet-name>
        <servlet-class>com.sun.labs.aura.dbbrowser.server.DBServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VizService</servlet-name>
        <servlet-class>com.sun.labs.aura.dbbrowser.server.VizServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBService</servlet-name>
        <url-pattern>/com.sun.labs.aura.dbbrowser.GWTMain/dbservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VizService</servlet-name>
        <url-pattern>/com.sun.labs.aura.dbbrowser.GWTMain/vizservice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcomeGWT.html</welcome-file>
        </welcome-file-list>
<!-- Define reference to the user database for looking up roles -->

  <!-- Define a Security Constraint on this Application -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>DB Browser</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
       <!-- NOTE:  This role is not present in the default users file -->
       <role-name>aurademo</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- Define the Login Configuration for this Application -->
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>DB Browser</realm-name>
  </login-config>

  <!-- Security roles referenced by this web application -->
  <security-role>
    <description>
      The role that is required to log in to the Aardvark demo
    </description>
    <role-name>aurademo</role-name>
  </security-role>
</web-app>
