<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <description>listener</description>
        <listener-class>com.sun.labs.aura.music.webservices.ServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>FindSimilarArtist</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.FindSimilarArtist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.AdminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtistSearch</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.ArtistSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtistSocialTags</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.ArtistSocialTags</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtistTagSearch</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.ArtistTagSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindSimilarArtistTags</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.FindSimilarArtistTags</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTags</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.GetTags</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTagsForArtist</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.GetTagsForArtist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRecommendations</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.GetRecommendations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetApml</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.GetApml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindSimilarListener</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.FindSimilarListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetItem</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.GetItem</servlet-class>
    </servlet>
    <servlet><servlet-name>AddListener</servlet-name><servlet-class>com.sun.labs.aura.music.webservices.AddListener</servlet-class></servlet>
    <servlet>
        <servlet-name>TagItem</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.TagItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListenerTags</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.GetListenerTags</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindSimilarArtistFromWordCloud</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.FindSimilarArtistFromWordCloud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAttentionData</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.GetAttentionData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStats</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.GetStats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetArtists</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.GetArtists</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindSimilarArtist</servlet-name>
        <url-pattern>/FindSimilarArtist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/AdminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtistSearch</servlet-name>
        <url-pattern>/ArtistSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtistSocialTags</servlet-name>
        <url-pattern>/ArtistSocialTags</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtistTagSearch</servlet-name>
        <url-pattern>/ArtistTagSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindSimilarArtistTags</servlet-name>
        <url-pattern>/FindSimilarArtistTags</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTags</servlet-name>
        <url-pattern>/GetTags</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTagsForArtist</servlet-name>
        <url-pattern>/GetTagsForArtist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRecommendations</servlet-name>
        <url-pattern>/GetRecommendations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetApml</servlet-name>
        <url-pattern>/GetApml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindSimilarListener</servlet-name>
        <url-pattern>/FindSimilarListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetItem</servlet-name>
        <url-pattern>/GetItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddListener</servlet-name>
        <url-pattern>/AddListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TagItem</servlet-name>
        <url-pattern>/TagItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListenerTags</servlet-name>
        <url-pattern>/GetListenerTags</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindSimilarArtistFromWordCloud</servlet-name>
        <url-pattern>/FindSimilarArtistFromWordCloud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAttentionData</servlet-name>
        <url-pattern>/GetAttentionData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStats</servlet-name>
        <url-pattern>/GetStats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetArtists</servlet-name>
        <url-pattern>/GetArtists</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    </web-app>
