<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <description>listener</description>
        <listener-class>com.sun.labs.aura.music.webservices.ServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>FindSimilarArtist</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.FindSimilarArtist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboard</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.AdminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtistSearch</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.ArtistSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtistSocialTags</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.ArtistSocialTags</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArtistTagSearch</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.ArtistTagSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTags</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.GetTags</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindSimilarArtistTags</servlet-name>
        <servlet-class>com.sun.labs.aura.music.webservices.FindSimilarArtistTags</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindSimilarArtist</servlet-name>
        <url-pattern>/FindSimilarArtist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboard</servlet-name>
        <url-pattern>/AdminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtistSearch</servlet-name>
        <url-pattern>/ArtistSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtistSocialTags</servlet-name>
        <url-pattern>/ArtistSocialTags</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArtistTagSearch</servlet-name>
        <url-pattern>/ArtistTagSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTags</servlet-name>
        <url-pattern>/GetTags</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindSimilarArtistTags</servlet-name>
        <url-pattern>/FindSimilarArtistTags</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
