<!--
 ! DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 ! 
 ! Copyright 2008 Sun Microsystems, Inc. All rights reserved.
 ! 
 ! The contents of this file are subject to the terms of the GNU
 ! General Public License Version 2 only ("License"). You may not use
 ! this file except in compliance with the License. You can obtain
 ! a copy of the License at https://www.projectcaroline.net/Legal/LICENSE.txt
 ! or INSTALL_DIRECTORY/LICENSE.txt.  See the License for the specific
 ! language governing permissions and limitations under the License.
 ! 
 ! When distributing the software, include this License Header Notice in each
 ! file and include the License file at INSTALL_DIRECTORY/LICENSE.txt.
 ! Sun designates this particular file as subject to the "Classpath" exception
 ! as provided by Sun in the License file that accompanied this code.
 ! If applicable, add the following below the License
 ! Header, with the fields enclosed by brackets [] replaced by your own
 ! identifying information: "Portions Copyrighted [year]
 ! [name of copyright owner]"
 ! 
 ! Contributor(s):
 ! 
 ! 
 ! 
 ! 
 ! 
 ! 
 ! 
 ! 
 !-->
<!-- Note:  A "Server" is not itself a "Container", so you may not
     define subcomponents such as "Valves" at this level.
     Documentation at /docs/config/server.html
 -->
<Server port="8005" shutdown="SHUTDOWN">

  <!--APR library loader. Documentation at /docs/apr.html -->
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <!--Initialize Jasper prior to webapps are loaded. Documentation at /docs/jasper-howto.html -->
  <Listener className="org.apache.catalina.core.JasperListener" />
  <!-- JMX Support for the Tomcat server. Documentation at /docs/non-existent.html -->
  <Listener className="org.apache.catalina.mbeans.ServerLifecycleListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />

  <!-- Global JNDI resources
       Documentation at /docs/jndi-resources-howto.html
  -->
  <GlobalNamingResources>
    <!-- Editable user database that can also be used by
         UserDatabaseRealm to authenticate users
    -->
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <!-- A "Service" is a collection of one or more "Connectors" that share
       a single "Container" Note:  A "Service" is not itself a "Container", 
       so you may not define subcomponents such as "Valves" at this level.
       Documentation at /docs/config/service.html
   -->
  <Service name="Catalina">
  
    <!-- A connector on port 80 with NIO protocol and compression. -->
    <Connector port="80" 
	       protocol="org.apache.coyote.http11.Http11NioProtocol" 
	       acceptorThreadCount="2"
               connectionTimeout="20000" 
               redirectPort="443"
	       compression="on"
	       compressableMimeType="text/html,text/xml,text/plain,text/css,text/javascript,application/xml"/>

    <Engine name="Catalina" defaultHost="localhost">

      <!-- This Realm uses the UserDatabase configured in the global JNDI
           resources under the key "UserDatabase".  Any edits
           that are performed against this UserDatabase are immediately
           available for use by the Realm.  -->
      <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
             resourceName="UserDatabase"/>
      
      <!-- Define the default virtual host
           Note: XML Schema validation will not work with Xerces 2.2.
       -->
      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true"
            xmlValidation="false" xmlNamespaceAware="false">

      </Host>
    </Engine>
  </Service>
</Server>
